<ul>
{{!--     <li>
    <a href="" title="首页">首页</a>
  </li> --}}
  <li>
    <span>项目</span>
    <ul>
      <li>
        {{#link-to "ember"}}ember{{/link-to}}
      </li>
      <li>
        {{#link-to "ember-data"}}ember-data{{/link-to}}
      </li>
    </ul>
  </li>
  {{#each navs as |nav|}}
    <li>
      <span {{action "getList" nav.id}}>{{nav.title}}</span>
      {{#if manage}}
        <i class="fa fa-plus"></i>
      {{/if}}
    </li>
  {{/each}}
</ul>