<ul>
{{!--     <li>
    <a href="" title="首页">首页</a>
  </li> --}}
  <li>
    <a href="" title="ember">项目</a>
    <ul>
      <li>
        {{#link-to "ember"}}ember{{/link-to}}
      </li>
      <li>
        {{#link-to "ember"}}ember-data{{/link-to}}
      </li>
    </ul>
  </li>
</ul>