<div class="ember_api_left">
  <div class="search">
    <i class="fa fa-search"></i>
    {{input value=keyword placeholder="请输入关键字"}}
  </div>
  {{ember-nav}}
</div>
<div class="ember_api_right">
  {{outlet}}
</div>